html, body {
    width: 100%!important; 
    margin: 0;
}

h1 {
    text-align: center;
    color: whitesmoke;
}


a {
    text-decoration: none;
}

header h1{
    color: cornflowerblue;
    margin-bottom: 1em;
}

sup {
    color: red;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: #fff;
    font-size: 1.5em;
}

/* body {
    background-color: lightblue;
    text-align: center; 
  } */
  
  main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
  }

  img, .img-credit {
    width: 50%;
    display: block;
    margin: auto;
}

.fullSize {
    width: 90%;
    margin: auto;
}

  